@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,300&display=swap');

body {
    background-color: rgb(251, 250, 243);
}

* {
    margin: 0px;
    padding: 0px;
}

/*header*/
header {
    background-color: rgb(251, 250, 243);
    display: flex;
    justify-content: center;
    width: 100vw;
    border-bottom: rgba(0, 0, 0, 0.553) 1px solid;
}

header .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

#logo {
    width: fit-content;
    text-align: center;
}

#logo h1 a {
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    color: rgb(52, 52, 52);
    text-decoration: none;
}

#navbar {
    list-style: none;
    display: flex;
}

#navbar li {
    margin: 0px 20px;
    color: black;
}

#navbar li a {
    font-family: 'Montserrat', sans-serif;
    color: rgb(4, 17, 91);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

#navbar li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#navbar li a:hover:after {
    width: 100%;
    left: 0;
    color: rgb(21, 18, 213);
}


/*header*/

/*Main*/
main {
    background-color: rgb(251, 250, 243);
    display: flex;
    justify-content: center;
    height: 70vh;
    margin: 30px 0px;
}

main .container {
    width: 90%;

}

.project {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F3F2;
    flex-direction: row;
    flex-wrap: wrap;

}

.projectText {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project .projectIMG {
    margin: 50px 50px 50px 50px;
    max-width: 600px;
    min-height: 340px;
    max-height: 340px;


}

.project h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px 50px 30px 50px;
}

.project p {

    margin: 0px 50px 50px 50px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.githubButton {
    color: white;
    background-color: rgb(13, 17, 23);
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.githubButton img {
    width: 30px;
    padding: 0px;
    margin: 0px 15px 0px 0px;
}

.githubButton:hover {
    background-color: rgb(41, 47, 56);
}